<launch>

    <!-- Parameters -->
    <rosparam file="/catkin_ws/src/rc_config.yaml" command="load" />

    <!-- Transforms -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom_tf" 
        args="0.0 0.0 0.0 0 0 0.0 /map /odom 40" />
    <node pkg="tf" type="static_transform_publisher" name="odom_to_base_tf" 
        args="0.0 0.0 0.0 0 0 0.0 /odom /base_link 40" />
    <node pkg="tf" type="static_transform_publisher" name="base_to_laser_tf"
        args="0.0 0.0 0.0 0 0 0.0 /base_link /laser_link 40"/>

    <!-- VESC -->
    <node pkg="vesc_driver" type="vesc_driver_node" name="vesc_driver" respawn="true" />

    <!-- Lidar -->
    <node name="ydlidar_node"  pkg="ydlidar"  type="ydlidar_node" output="screen" respawn="true" />

    <!-- SLAM -->
    <include file="$(find hector_mapping)/launch/mapping_default.launch">
        <arg name="base_frame" value="/base_link"/>
        <arg name="odom_frame" value="/odom"/>
        <!--arg name="map_size" value="2048"-->
    </include>

</launch>